
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #1dbf73;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {

}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1dbf73;
}

.join-button {
    padding: 10px 20px;
    border: 1px solid #1dbf73;
    background-color: white;
    color: #1dbf73;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.join-button:hover {
    background-color: #1dbf73;
    color: white;
}