@import url('https://fonts.googleapis.com/css2?family=Allura&family=Great+Vibes&family=Norican&display=swap');

.font{
    font-family: "Allura", sans-serif;
}
.divs> div{
    display: block;
}
.invalid{
    background-image: url("../src/assets/404.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 99.9vh;
}